spring:
  application:
    name: Minio-Demo

  datasource:
    url: jdbc:postgresql://localhost:5432/miniodb
    driver-class-name: org.postgresql.Driver
    username: user
    password: password

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  servlet:
    multipart:
      max-file-size: 25MB
      max-request-size: 25MB

minio:
  url: http://localhost:9000
  access-key: minioadmin
  secret-key: minioadmin123
  bucket: uploads
  region: us-east-1